//! **************************************************************************
// Written by: Map P.20131013 on Sun May 29 15:38:27 2022
//! **************************************************************************

SCHEMATIC START;
COMP "pa0" LOCATE = SITE "H11" LEVEL 1;
COMP "sdram_casn" LOCATE = SITE "F2" LEVEL 1;
COMP "sdram_rasn" LOCATE = SITE "F1" LEVEL 1;
COMP "sdram_ba<0>" LOCATE = SITE "G6" LEVEL 1;
COMP "sdram_ba<1>" LOCATE = SITE "J6" LEVEL 1;
COMP "usb_fifoaddr<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "usb_fifoaddr<1>" LOCATE = SITE "H13" LEVEL 1;
COMP "rst_n" LOCATE = SITE "H2" LEVEL 1;
COMP "usb_fd<10>" LOCATE = SITE "J16" LEVEL 1;
COMP "usb_fd<11>" LOCATE = SITE "K16" LEVEL 1;
COMP "usb_fd<12>" LOCATE = SITE "K15" LEVEL 1;
COMP "usb_fd<13>" LOCATE = SITE "K12" LEVEL 1;
COMP "usb_fd<14>" LOCATE = SITE "K14" LEVEL 1;
COMP "usb_fd<15>" LOCATE = SITE "J13" LEVEL 1;
COMP "sdram_addr<0>" LOCATE = SITE "J3" LEVEL 1;
COMP "sdram_addr<1>" LOCATE = SITE "J4" LEVEL 1;
COMP "sdram_addr<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "sdram_addr<3>" LOCATE = SITE "K5" LEVEL 1;
COMP "sdram_addr<4>" LOCATE = SITE "P1" LEVEL 1;
COMP "sdram_addr<5>" LOCATE = SITE "N1" LEVEL 1;
COMP "sdram_addr<6>" LOCATE = SITE "M2" LEVEL 1;
COMP "sdram_addr<7>" LOCATE = SITE "M1" LEVEL 1;
COMP "sdram_addr<8>" LOCATE = SITE "L1" LEVEL 1;
COMP "sdram_addr<9>" LOCATE = SITE "K2" LEVEL 1;
COMP "usb_clk" LOCATE = SITE "G12" LEVEL 1;
COMP "sdram_data<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "sdram_data<1>" LOCATE = SITE "B3" LEVEL 1;
COMP "sdram_data<2>" LOCATE = SITE "A2" LEVEL 1;
COMP "sdram_data<3>" LOCATE = SITE "B2" LEVEL 1;
COMP "qspi_di" LOCATE = SITE "L16" LEVEL 1;
COMP "sdram_data<4>" LOCATE = SITE "B1" LEVEL 1;
COMP "sdram_data<5>" LOCATE = SITE "C2" LEVEL 1;
COMP "sdram_data<6>" LOCATE = SITE "C1" LEVEL 1;
COMP "qspi_do" LOCATE = SITE "L13" LEVEL 1;
COMP "sdram_data<7>" LOCATE = SITE "D1" LEVEL 1;
COMP "sdram_data<8>" LOCATE = SITE "H5" LEVEL 1;
COMP "sdram_data<9>" LOCATE = SITE "G5" LEVEL 1;
COMP "qspi_holdn" LOCATE = SITE "D6" LEVEL 1;
COMP "sdram_cke" LOCATE = SITE "M3" LEVEL 1;
COMP "sdram_clk" LOCATE = SITE "H4" LEVEL 1;
COMP "sdram_csn" LOCATE = SITE "G1" LEVEL 1;
COMP "sdram_wen" LOCATE = SITE "E1" LEVEL 1;
COMP "fpga_clk" LOCATE = SITE "T8" LEVEL 1;
PIN fpga_clk_pin<0> = BEL "fpga_clk" PINNAME PAD;
PIN "fpga_clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "usb_fd<0>" LOCATE = SITE "D16" LEVEL 1;
COMP "usb_fd<1>" LOCATE = SITE "C16" LEVEL 1;
COMP "usb_fd<2>" LOCATE = SITE "C15" LEVEL 1;
COMP "usb_fd<3>" LOCATE = SITE "B16" LEVEL 1;
COMP "usb_fd<4>" LOCATE = SITE "E15" LEVEL 1;
COMP "usb_fd<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "usb_fd<6>" LOCATE = SITE "F15" LEVEL 1;
COMP "usb_fd<7>" LOCATE = SITE "F16" LEVEL 1;
COMP "usb_fd<8>" LOCATE = SITE "H15" LEVEL 1;
COMP "usb_fd<9>" LOCATE = SITE "H16" LEVEL 1;
COMP "usb_flaga" LOCATE = SITE "F12" LEVEL 1;
COMP "usb_flagb" LOCATE = SITE "F14" LEVEL 1;
COMP "usb_flagc" LOCATE = SITE "F13" LEVEL 1;
COMP "sdram_addr<10>" LOCATE = SITE "K6" LEVEL 1;
COMP "sdram_addr<11>" LOCATE = SITE "K1" LEVEL 1;
COMP "sdram_addr<12>" LOCATE = SITE "J1" LEVEL 1;
COMP "sdram_data<10>" LOCATE = SITE "H3" LEVEL 1;
COMP "sdram_data<11>" LOCATE = SITE "F6" LEVEL 1;
COMP "sdram_data<12>" LOCATE = SITE "G3" LEVEL 1;
COMP "sdram_data<13>" LOCATE = SITE "F5" LEVEL 1;
COMP "sdram_data<14>" LOCATE = SITE "F3" LEVEL 1;
COMP "sdram_data<15>" LOCATE = SITE "F4" LEVEL 1;
COMP "qspi_clk" LOCATE = SITE "M15" LEVEL 1;
PIN qspi_clk_pin<0> = BEL "qspi_clk" PINNAME PAD;
PIN "qspi_clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "qspi_csn" LOCATE = SITE "F7" LEVEL 1;
COMP "usb_slcs" LOCATE = SITE "G16" LEVEL 1;
COMP "qspi_wpn" LOCATE = SITE "C6" LEVEL 1;
COMP "usb_sloe" LOCATE = SITE "G14" LEVEL 1;
COMP "usb_slrd" LOCATE = SITE "K11" LEVEL 1;
COMP "usb_slwr" LOCATE = SITE "J12" LEVEL 1;
PIN clk_cyp_inst/clkout2_buf_pin<1> = BEL "clk_cyp_inst/clkout2_buf" PINNAME
        O;
PIN "clk_cyp_inst/clkout2_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN clk_sdram_inst/clkout2_buf_pin<1> = BEL "clk_sdram_inst/clkout2_buf"
        PINNAME O;
PIN "clk_sdram_inst/clkout2_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

